/* здесь используйте глобальные переменные */

// ЦВЕТА

$color-text-title: #666666;
$base-color-text: #444444;
$bg-basic-green: #68b738;
$color-error: #ff8282;
$color-text-dark: #222222;
$bg-basic-grey: #f2f2f2;
$-color-text-title: #666666;

// -special-grey-2: #ebebeb;
// -special-grey: #cdcdcd;
// -basic-green-2: #5eaa2f;

// ШРИФТЫ

$primary-font: "Lato", "Arial", sans-serif;
$second-font: "Oswald", "Arial", sans-serif;
