// ДОПОЛНИТЕЛЬНЫЕ ТОВАРЫ

.additional-products {
  font-weight: 400;

  // ЗАГОЛОВОК СЕКЦИИ
  &__title {
    padding: 0;
    font-family: $second-font;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: $color-text-black;
  }

  // НАЗВАНИЕ ТОВАРА
  &__name {
    font-family: $second-font;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    color: $color-text-dark;
  }

  // ПРОДУКТ И ЕГО ХАРАКТЕРИСТИКИ
  &__row {
    font-family: $primary-font;
    font-size: 14px;
    line-height: 14px;
    color: $base-color-text;
  }

  // ПРОМО-БЛОК (ПОДАРОК)
  &__promo {
    position: relative;
    padding: 56px 0;
    text-align: center;
    overflow: hidden;

    // ИКОНКА ПОДАРКА
    &::before {
      content: "";
      display: block;
      width: 78px;
      height: 80px;
      margin: 0 auto 32px;
      background-image: url("../../icons/stack.svg#gift-icon");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: relative;
      z-index: 1; // Поверх фона
    }
  }

  // ФОН ПРОМО-БЛОКА
  &__promo-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // Мобильная обычный
    background-image: $promo-overlay, url("../../images/promo-cat@1x.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
  }
  // Мобильная Retina
  @media (min-resolution: 192dpi) {
    &__promo-bg {
      background-image: $promo-overlay, url("../../images/promo-cat@2x.jpg");
    }
  }
  // Планшет
  @media (min-width: 768px) {
    &__promo-bg {
      background-image: $promo-overlay, url("../../images/promo-cat-tablet@1x.jpg");
    }
    // Иконка подарка больше
    &__promo::before {
      width: 80px;
      height: 83px;
      margin-bottom: 40px;
    }
  }
  // Планшет Retina
  @media (min-width: 768px) and (min-resolution: 192dpi) {
    &__promo-bg {
      background-image: $promo-overlay, url("../../images/promo-cat-tablet@2x.jpg");
    }
  }

  // КОНТЕНТ ПОВЕРХ ФОНА
  &__promo-text {
    position: relative;
    z-index: 1;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: $color-text-white;
    margin: 0;
  }

  // ЗАКАЗАТЬ
  &__button {
    padding: 6px 109px;
    width: 280px;
  }
}
