// ДОПОЛНИТЕЛЬНЫЕ ТОВАРЫ
.additional-products {
  width: 280px;
  margin: 0 auto;
  // БАЗА (МОБИЛЬНАЯ ВЕРСИЯ)
  font-weight: 400;
  position: relative;
  margin-bottom: 40px;

  &::before {
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $bg-basic-green;
    z-index: -1;
  }

  // ЗАГОЛОВОК СЕКЦИИ
  &__title {
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
    font-family: $second-font;
    font-size: 24px;
    line-height: 24px;
    color: $color-text-black;
    margin-bottom: 50px;
    z-index: 3;

    &::after {
      content: "";
      position: absolute;
      inset: 0 -20px; // Выступает на 20px слева
      background-color: $color-text-white;
      z-index: -2; // Фон под текстом, но над линией
    }
  }

  &__container {
    width: 280px;
    margin: 0 auto;
  }

  &__list {
    list-style: none;
    padding: 0;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: -15px;
      left: 50%; // Центрируем линию относительно кнопки
      transform: translateX(-50%);
      width: 100%;
      height: 1px;
      background-color: $-special-grey-2;
    }
  }

  // ПРОДУКТ И ЕГО ХАРАКТЕРИСТИКИ
  &__row {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 32px;
    font-family: $primary-font;
    font-size: 14px;
    line-height: 14px;
    color: $base-color-text;

    &-text {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }
  }

  // НАЗВАНИЕ ТОВАРА
  &__name {
    font-family: $second-font;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    text-align: start;
    color: $color-text-dark;

    &-pack {
      display: flex;
      justify-content: space-between;
      width: 280px;
    }
  }

  // ПРОМО-БЛОК (ПОДАРОК)
  &__promo {
    position: relative;
    padding: 56px 0;
    text-align: center;
    overflow: hidden;

    // ИКОНКА ПОДАРКА
    &::before {
      content: "";
      display: block;
      width: 78px;
      height: 80px;
      margin: 0 auto 32px;
      background-image: url("../../icons/stack.svg#gift-icon");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      position: relative;
      z-index: 1; // Поверх фона
    }
  }

  // ФОН ПРОМО-БЛОКА
  &__promo-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // Мобильная обычный
    background-image: $promo-overlay, url("../../images/promo-cat@1x.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
  }

  // Мобильная Retina
  @media (min-resolution: 192dpi) {
    &__promo-bg {
      background-image: $promo-overlay, url("../../images/promo-cat@2x.jpg");
    }
  }

  // КОНТЕНТ ПОВЕРХ ФОНА
  &__promo-text {
    position: relative;
    z-index: 1;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: $color-text-white;
    width: 160px;
    margin: 0 auto;
  }

  // ЗАКАЗАТЬ
  &__button {
    padding: 6px 109px;
    width: 280px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      margin-top: 20px;
      left: 50%; // Центрируем линию относительно кнопки
      transform: translateX(-50%);
      width: 100%;
      height: 1px;
      background-color: $-special-grey-2;
    }
  }

  // ПЛАНШЕТ
  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0 auto;

    &__wrapper {
      width: 708px;
      margin: 0 auto;
    }

    &__container {
      width: 630px;
      margin: 0 auto;
    }

    &__title {
      font-size: 40px;
      line-height: 40px;
      margin: 0;
      padding: 0;
      margin-bottom: 50px;
    }

    &__row-text {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }

    &__name {
      font-size: 20px;
      line-height: 20px;
      white-space: nowrap;
    }

    &__name-pack {
      display: flex;
      justify-content: flex-end;
      gap: 50px;
      font-size: 16px;
      line-height: 20px;
      width: 630px;
    }

    &__promo {
      display: flex;
      align-items: center;
    }

    // Иконка подарка больше (перенесено из отдельного медиа-запроса)

    &__promo::before {
      width: 80px;
      height: 83px;
      margin-bottom: 40px;
    }

    // Планшет Retina
    @media (min-width: $tablet-width) and (min-resolution: 192dpi) {
      &__promo-bg {
        background-image: $promo-overlay, url("../../images/promo-cat-tablet@2x.jpg");
        max-height: 200px;
      }
    }

    &__button {
      margin: 0 auto;
      width: 632px;
    }

    &__button::after {
      width: 708px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1440px;

    margin-bottom: 90px;

    &__wrapper {
      width: 1220px;
      margin: 0 auto;
      align-items: center;
    }

    &__container {
      margin: 0;
      width: 1220px;
      display: flex;
      align-items: center;
      gap: 80px;
    }

    &__list {
      width: 896px;
    }

    &__list::before {
      top: -40px;
    }

    &__list::after {
      content: "";
      position: absolute;
      bottom: -35px;
      left: 50%; // Центрируем линию относительно кнопки
      transform: translateX(-50%);
      width: 100%;
      height: 1px;
      background-color: $-special-grey-2;
    }

    &__row {
      flex-direction: row;
      gap: 20px;
    }

    &__row:last-child {
      margin-bottom: 0;
    }

    &__row-text {
      gap: 160px;
    }

    &__name {
      min-width: 160px;
    }

    &__name-pack {
      justify-content: space-between;
      margin-left: auto;
      width: 290px;
    }

    &__promo {
      flex-direction: column;
      width: 245px;
    }

    &__button {
      width: 245px;
      padding: 6px 0;
    }

    &__button::after {
      display: none;
    }
  }
}
