.button {
  font-family: $second-font;
  background-color: $bg-basic-green;
  border: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}
