.button {
  font-family: $second-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $color-text-white;
  background-color: $bg-basic-green;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $-basic-green-2;
  }

  &:active {
    background-color: $-basic-green-2;
    color: rgba($color-text-white, 0.3);
  }
}
