// БЛОК: КАТАЛОГ ПРОДУКЦИИ

.catalog {
  &__wrapper {
    width: 280px;
    margin: 0 auto;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
  }

  &__card {
    display: flex;
  }

  &__card-more {
    background-image: url("../../icons/stack.svg#plus");
    height: 30px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 17px;
  }

  &__item-more {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
  }

  &__title {
    font-family: $second-font;
    font-size: 36px;
    line-height: 36px;
    color: $color-text-black;
  }

  &__title--show-more {
    text-align: center;
  }

  &__item-title {
    font-family: $second-font;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: left;
    color: $color-text-dark;
    padding-right: 60px;
    margin: 8px 0 14px;
  }

  &__item-title-more {
    padding: 0;
  }

  // Характеристики товара (масса, вкус, цена)
  &__item-spec {
    font-size: 12px;
    line-height: 16px;
    color: $base-color-text;
  }

  &__item-spec-row {
    display: flex;
    justify-content: space-between;
  }

  // вкусов еще больше
  &__item-subtitle {
    font-size: 12px;
    line-height: 16px;
    color: $base-color-text;
    font-family: $primary-font;
    text-align: center;
  }

  &__button {
    position: relative;
    padding: 0;
    width: 280px;
    height: 40px;
    margin-bottom: 25px;
  }

  &__button-all {
    background-color: $bg-basic-grey;
    color: $base-color-text;
    width: 280px;
    height: 40px;
    margin-bottom: 25px;
  }
}

@media (min-width: $tablet-width) {
  .catalog {
    width: 768px;
  }

  .catalog__wrapper {
    width: 705px;
    margin: 0 auto;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: 320px 320px; // Две равные колонки
    gap: 60px; // Отступ между карточками
    width: 100%; // Занимает всю ширину контейнера
  }

  .catalog__card {
    display: flex;
    flex-direction: column;
    width: 250px;
  }

  .catalog__card-more {
    margin-top: 100px;
    margin-bottom: 50px;
    height: 60px;
    text-align: center;
  }

  .catalog__item {
    margin: 0 auto;
    position: relative;
    gap: 35px;
  }

  .catalog__item-more {
    gap: 0;
    width: 250px;
    position: relative;
  }

  .catalog__item-more::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75%; //
    border: 1px solid $bg-basic-grey;
    border-radius: 5px;
    z-index: -1; // Под контентом
  }

  .catalog__item:not(.catalog__item-more)::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75%; // Серый фон занимает нижнюю часть (под картинкой)
    background-color: $bg-basic-grey;
    z-index: -1; // Под контентом
  }

  .catalog__item-title {
    padding: 0;
    text-align: center;
  }

  .catalog__item-title-more {
    align-items: center;
  }

  .catalog__item-text-more {
    margin-bottom: 80px;
  }

  .catalog__item-link {
    margin: 0 auto;
  }

  .catalog__item-spec-row {
    margin-bottom: 10px;
    position: relative;
  }

  .catalog__item-spec-row::after {
    content: "";
    position: absolute;
    top: 100%;
    margin-top: 5px;
    left: 50%; // Центрируем линию относительно кнопки
    transform: translateX(-50%);
    width: 250px;
    height: 1px;
    background-color: $-special-grey;
  }

  .catalog__button {
    width: 250px;
  }

  .catalog__button-all {
    width: 250px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    width: auto;
  }

  .catalog__wrapper {
    width: 1220px;
    margin: 0 auto;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: 245px 245px 245px 245px; // Две равные колонки
    gap: 80px; // Отступ между карточками
    width: 100%; // Занимает всю ширину контейнера
  }
}
