// БЛОК: КАТАЛОГ ПРОДУКЦИИ

.catalog {
  &__title {
    font-family: $second-font;
    font-size: 36px;
    line-height: 36px;
    color: $color-text-black;
  }

  &__item-title {
    font-family: $second-font;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    color: $color-text-dark;
  }
  // Характеристики товара (масса, вкус, цена)
  &__item-specs {
    font-size: 12px;
    line-height: 16px;
    color: $base-color-text;
  }

  &__item-specs,
  &__item-subtitle {
    font-size: 12px;
    line-height: 16px;
    color: $base-color-text;
  }
  // вкусов еще больше
  &__item-subtitle {
    font-family: $primary-font;
    text-align: center;
  }
  //Показать весь каталог
  &__button-all {
    padding: 20px 94px;
    background-color: $bg-basic-grey;
    color: $base-color-text;
  }
}
