.how-it-works {
  margin-bottom: 50px;

  // ЗАГОЛОВОК СЕКЦИИ
  &__title {
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
    font-family: $second-font;
    font-size: 36px;
    line-height: 40px;

    color: $color-text-black;
  }

  // СПИСОК ПРЕИМУЩЕСТВ
  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 18px;
    list-style: none;
    color: $base-color-text;
    gap: 20px;
  }

  &__item {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  &__description {
    margin: 0;
  }

  // Зелёный фон + центрирование
  &__icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bg-basic-green;
    height: 60px;
  }
  // Иконка без фона, только размеры
  &__icon {
    width: 60px;
    height: 30px;
    display: block;
  }

  &__icon-list {
    background: url("../../icons/stack.svg#list-icon") no-repeat center;
  }

  &__icon-powder {
    background: url("../../icons/stack.svg#powder-icon") no-repeat center;
  }

  &__icon-eat {
    background: url("../../icons/stack.svg#eat-icon") no-repeat center;
  }

  &__icon-time {
    background: url("../../icons/stack.svg#time-icon") no-repeat center;
  }

  // Планшет и десктоп
  @media (min-width: $tablet-width) {
    margin-bottom: 70px;

    &__icon-wrapper {
      width: 80px;
      height: 80px;
    }

    &__title {
      font-size: 60px;
      line-height: 60px;
    }

    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      justify-content: space-between;
      position: relative;
      counter-reset: step-counter; //  Устанавливаю счетчик на родителе
      margin-bottom: 140px;
    }

    &__list::after {
      content: "";
      position: absolute;
      margin-top: 100px;
      top: 100%;
      left: 50%; // Центрируем линию относительно кнопки
      transform: translateX(-50%);
      width: 100%;
      height: 1px;
      background-color: $-special-grey-2;
    }

    &__item {
      display: flex;
      flex-direction: column;
      height: auto;
      width: 220px;
      position: relative;
      gap: 30px;
      z-index: 1;
      counter-increment: step-counter; // Увеличиваю счетчик для каждого элемента
    }

    &__item::before {
      content: counter(step-counter); // Вывожу значение счетчика
      position: absolute;
      top: -30px;
      left: 80px;
      width: 50%;
      height: 100%;
      z-index: -1; // Под контентом
      font-family: $second-font;
      font-size: 280px;
      line-height: 1;
      font-weight: 700;
      color: $bg-basic-grey;
      text-align: right;
    }

    &__description {
      font-size: 16px;
      line-height: 24px;
      color: $base-color-text;
    }
  }

  @media (min-width: $desktop-width) {
    &__list {
      display: flex;
      flex-direction: row;
    }
  }
}
