// .main-nav {
// }

// .main-nav__toggle {
// }

// .button-burger {
// }

// .main-nav__wrapper {
// }

.main-nav__list {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  list-style: none;
}
