.main-header {
  //  БАЗА (МОБИЛЬНАЯ ВЕРСИЯ)
  width: 280px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 12px 20px;
  background-color: transparent;
  z-index: 100;
  margin: 0 auto;

  &__logo:hover,
  &__logo-text:hover {
    opacity: 0.8;
  }

  &__logo:active,
  &__logo-text:active {
    opacity: 0.6;
  }

  // ПЛАНШЕТ
  @media (min-width: $tablet-width) {
    width: 705px;

    &__logo-text {
      margin-left: 12px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1220px;
    justify-content: flex-start;
  }
}

// .main-header {
//   width: 320px;
//   position: relative;
//   display: flex;
//   // justify-content: space-between;
//   align-items: center;
//   padding: 12px 20px;
//   background-color: #ffffff;
//   z-index: 100; // Поверх всего

//   @media (max-width: 1199px) {
//     justify-content: space-between;
//   }

//   &__logo-text {
//     @media (max-width: $mobile-width-only) {
//     }

//     @media (min-width: $tablet-width) {
//       margin-left: 12px;
//     }
//   }

//   &__logo:hover,
//   &__logo-text:hover {
//     opacity: 0.8;
//   }

//   &__logo:active,
//   &__logo-text:active {
//     opacity: 0.6;
//   }
// }
