// БЛОК: АКЦИИ И НОВИНКИ

.news {
  font-family: $second-font;

  // ЗАГОЛОВОК И ОПИСАНИЕ
  &__title,
  &__description {
    font-weight: 400;
    text-align: center;
    color: $color-text-black;
  }

  &__title {
    font-size: 24px;
    line-height: 24px;
  }

  &__description {
    font-size: 16px;
    line-height: 24px;
  }

  // КНОПКА ПОДПИСКИ
  &__button {
    padding: 14px 26px;
    width: 280px;
    font-size: 20px;
    line-height: 26px;
  }

  // ПОЛЕ ВВОДА EMAIL
  &__field {
    border: 1px solid #cdcdcd;
    padding: 13px;
    width: 280px;
    font-size: 20px;
    text-transform: uppercase;
    color: $base-color-text;
  }
}
