// БЛОК: КОНТАКТЫ

.contact {
  font-weight: 400;

  // ЗАГОЛОВОК КОНТАКТОВ
  &__title {
    margin: 0;
    font-family: $second-font;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: $color-text-black;
  }

  // АДРЕС И ГОРОД
  &__street,
  &__city {
    margin: 0;
    font-family: $primary-font;
    font-size: 14px;
    line-height: 20px;
    color: $base-color-text;
  }
}
