//ЖИВОЙ ПРИМЕР (РЕЗУЛЬТАТЫ)

.results {
  font-weight: 400;
  background-color: $background-results-gray;
  position: relative;
  padding-top: 25px;
  margin: 0;

  // ЗАГОЛОВОК СЕКЦИИ
  &__title {
    font-size: 36px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    margin-bottom: 40px;
  }

  &__description {
    margin: 0;
    margin-bottom: 20px;
    line-height: 18px;
    font-size: 14px;
  }

  &__stats {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 20px;
    justify-content: space-evenly;
  }

  // СТАТИСТИКА
  &__stat {
    position: relative;
    font-family: $primary-font;
    font-size: 10px;
    line-height: 12px;
    width: 124px;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    // ОДНА РАМКА ВОКРУГ ВСЕГО БЛОКА
    border: 1px solid $color-text-title;
    border-radius: 5px;
    padding: 15px 1px 10px;
  }

  &__stats-container {
    display: flex;
    justify-content: space-around;
    gap: 40px;
  }

  // ЗНАЧЕНИЕ
  &__stat-value {
    font-size: 24px;
    line-height: 24px;
    font-family: $second-font;
    color: $color-text-black;
    white-space: nowrap;
    margin: 0;
  }

  // ПОДПИСЬ (затрачено времени / снижение веса)
  &__stat-label {
    position: absolute;
    bottom: -6px; // за пределы рамки
    left: 50%; //  Центрирую по горизонтали
    transform: translateX(-50%);
    background-color: $background-results-gray; // Белый фон перекрывает рамку
    padding: 0 10px;
    white-space: nowrap;
    margin: 0;
    font-size: 10px;
    line-height: 12px;
    color: $base-color-text;
  }

  // ЦЕНА
  &__price {
    line-height: 20px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 20px;
  }

  &__title,
  &__stat-value,
  &__price {
    font-family: $second-font;
    color: $color-text-black;
  }

  // ЭЛЕМЕНТЫ С ВЫРАВНИВАНИЕМ ПО ЦЕНТРУ

  &__stat,
  &__stat-value,
  &__price {
    text-align: center;
  }

  // ОБЁРТКА
  &__wrapper {
    margin-bottom: 26px;
  }

  &__slider {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  &__slider-container {
    position: relative;
    width: 280px;
    height: 260px;
    overflow: hidden;
  }

  &__slider-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
    // ПОСЛЕ (нижний слой)
    &--after {
      z-index: 1;
      clip-path: inset(0 0 0 50%); //  Обрезаем левую половину
    }

    // ДО (верхний слой, обрезаем пополам)
    &--before {
      z-index: 2;
      clip-path: inset(0 50% 0 0); //  Обрезаем правую половину
    }
  }

  // Полоска слайдера
  &__slider-button {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 50%; //  Посередине
    transform: translateX(-50%);
    z-index: 3; // Поверх изображений
    width: 4px;
    height: 100%;
    background-color: $color-text-title;
    border: none;
    cursor: col-resize;

    // Кружок слайдера
    &::before {
      content: "";
      background-image: url("../../icons/stack.svg#controls-slider");
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-repeat: no-repeat;
      background-size: contain;
    }

    &:hover {
      background-color: $bg-basic-green;

      &::before {
        background-image: url("../../icons/stack.svg#sliders-control-green");
      }
    }
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    padding: 0;
    background-color: $color-text-white;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 40%; //  Серый фон на 55% высоты
      background-color: $background-results-gray;
      z-index: 0; // Под контентом
    }

    &__title {
      font-size: 60px;
      line-height: 60px;
      margin: 0;
      padding: 0;
      margin-bottom: 60px;
    }

    &__description {
      line-height: 24px;
      font-size: 16px;
      margin: 0;
      margin-bottom: 50px;
      color: $base-color-text;
    }

    &__container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 90px;
      flex-direction: column;
    }

    &__stat {
      font-size: 14px;
      line-height: 14px;
      width: 162px;
    }

    &__stats {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }

    &__stat-value {
      font-size: 30px;
      line-height: 37px;
    }

    &__stat-label {
      background-color: $color-text-white;
    }

    &__price {
      font-size: 20px;
      line-height: 20px;
      gap: 9px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin: 0;
    }

    &__slider-container {
      width: 560px;
      height: 510px;
    }
  }

  // ДЕСКТОП
  @media (min-width: $desktop-width) {
    margin: 0 auto;
    background-color: $color-text-white;

    &::after {
      height: 75%;
      padding: 0 110px;
      bottom: -30px;
    }

    &__wrapper {
      display: flex;
      justify-content: space-between;
      gap: 40px 80px;
      position: relative;
      z-index: 1;
    }

    &__title {
      font-size: 60px;
      line-height: 60px;
      text-align: left;
      margin: 0;
      margin-bottom: 140px;
    }

    &__description {
      max-width: 450px;
      text-align: left;
      margin: 0;
      margin-bottom: 70px;
    }

    &__container {
      display: flex;
      flex-direction: column;
      gap: 40px; // Отступ между статистикой и ценой
      margin-bottom: 70px;
    }

    &__stats {
      margin-bottom: 0;
      justify-content: flex-start;
      flex-direction: column;
    }

    &__stats-container {
      justify-content: space-between;
    }

    &__stat {
      font-size: 12px;
      border-color: $base-color-text;
    }

    &__stat-label {
      background-color: $background-results-gray;
    }

    &__price {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin: 0;
      justify-content: space-between;
    }

    &__slider {
      margin: 0;
      justify-content: flex-start;
    }

    &__slider-container {
      width: 560px;
      height: 510px;
    }
  }
}
